<ion-header>
    <ion-navbar>
        <ion-title>
            Account Info
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Account Portfolio
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>
    <ion-list no-lines>
        <ion-item *ngFor="let charity of abbreviated;let index = index;">
            <ion-range min="0" max="100" step="1" snaps="true" pin="true" [(ngModel)]="percentages[index]">
                <ion-label range-left>{{abbreviated[index]}}</ion-label>
                <ion-label range-right>100%</ion-label>
            </ion-range>
        </ion-item>
        <button ion-button (click)="ionViewDidLoad()">Update Portfolio</button>
    </ion-list>
    <h4>Account Plan</h4>
    <p>
        Your current monthly payment is
        <b>${{monthly}}</b> every month.
    </p>
    <ion-list>
        <ion-list-header>
            Change Amount
        </ion-list-header>
        <ion-item>
            <ion-range min="0" max="1000" step="50" snaps="true" pin="true" [(ngModel)]="monthly">
                <ion-label range-left>$0</ion-label>
                <ion-label range-right>$1000</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>
    <p>
        This means your donation amounts based on your updated portfolio above will be:
    </p>
    <ion-list>
        <ion-item *ngFor="let charity of charities; let index = index">
            => ${{payments[index]}} to {{charity.name}}
        </ion-item>
    </ion-list>
    <!-- <h4>Payment Method</h4>
    <p>
        Your current payment method is:
    </p> -->
    <h4>Account History</h4>
    <p *ngFor="let donation of donations; let index = index;">
        ${{donation.amount}} donated to {{donation_charities[index+1]}} 
    </p>
</ion-content>